<footer class="container-fluid">
        <div class="row" style="margin: auto;">
            <div class="col-md-4 col-12">
                <ul class="navbar-nav mt-2 mt-sm-2">
                    <li class="nav-item active" style="margin: auto; padding-top: 0px;">
                        <img src="images/av_default.png" alt="avatar" style="width: 180px; height: 150px;"></img>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 col-6">
                <ul class="navbar-nav mt-2 mt-lg-0 footx">
                    <li class="nav-item active">
                        <i class="fa fa-youtube icon-size">
                            <a style="padding: 10px" href="https://www.youtube.com">Youtube</a>
                        </i>
                    </li>
                    <li class="nav-item active">
                        <i class="fa fa-twitter icon-size">
                            <a style="padding: 10px" href="https://twitter.com/?lang=vi">Twitter</a>
                        </i>
                    </li>
                    <li class="nav-item active">
                        <i class="fa fa-facebook-square icon-size">
                            <a style="padding: 10px" href="https://www.facebook.com/simayi001">facebook</a>
                        </i>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 col-6">
                <ul class="navbar-nav m-1 mt-lg-0 footx">
                    <li class="nav-item active">
                        <i class="fa fa-user-o icon-size">
                            <a style="padding: 10px" href="./user/user_register.html">Sign In</a>
                        </i>
                    </li>
                    <li class="nav-item active">
                        <i class="fa fa-envelope icon-size">
                            <a style="padding: 6px" href="https://www.gmail.com">Contact us</a>
                        </i>
                    </li>
                    <li class="nav-item active">
                        <i class="fa fa-lock icon-size">
                            <a style="padding: 12px" href="https://www.google.com">Privacy policy</a>
                        </i>
                    </li>
                </ul>
            </div>

        </div>
        <div class="row justify-content-center" style="margin: auto;">
            <p style="text-align: center; color: #898989; font-size: 13px; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
                Copyright &copy 2019 Wikia, Inc. | Powered by boy team 11</p>
        </div>
    </footer>