<div class="clearfix">
        <span>fit-hcmus 2019</span>
        <h1>Thebetterplace.com</h1>
        <nav class="dr-menu" id = "dr-menu">
            <a href="user/login.html" class="bp-icon bp-icon-next" data-info="Đăng nhập"><span>Đăng nhập</span></a>
            <a href="user/user_register.html" class="bp-icon bp-icon-next" data-info="Đăng kí"><span>Đăng kí</span></a>
        </nav>
    </div>	
    <div class="main">
        <nav class="cbp-hsmenu-wrapper" id="cbp-hsmenu-wrapper">
            <div class="cbp-hsinner">
                <ul class="cbp-hsmenu">
                    <li>
                        <a href="index.html">Trang chủ</a>
                    </li>
                    <li>
                        <a href="sp/eventlist.html">Review sự kiện</a>
                    </li>
                    <li>
                        <a href="sp/foodlist.html">Review ăn uống</a>
                    </li>
                    <li>
                        <a href="contact/ThaoLuan.html">Thảo luận</a>
                    </li>
                    <li>
                        <a href="user/about.html">About</a>
                    </li>
                    <li>
                        <form class="form-inline">
                            <input class="form-control mr-sm-2" type="search"
                                placeholder="Nhập tên bài review" aria-label="Search"
                                style="border-radius: 20px">
                            <button id="button-search" class="btn btn-outline-light my-2 my-sm-0 button-s-vis"
                                type="submit"> <i class="fa fa-search"></i></button>
                        </form>
                    </li>
                </ul>
            </div>
        </nav>
    </div>