
#information {
	position: relative;
	float: right;
	width: 30%;
	padding: 5em 5% 5em 0;
}

#main {
	overflow: hidden;
	float: left;
	width: 70%;
	padding: 5em 0 5em 5%;
	background: #fff;
	text-align: center;
}

#top-event-border {
	border: 3px solid red;
	border-radius: 5px;
	margin: 5px 0px 5px 0px;
}

#main div.card {
	margin: 50px 0px;
}

.hoverText:hover {
  text-decoration: underline;
}
.uppercase {
  text-transform: uppercase;
}

.block {
  display: block;
}

.text-size {
  font-size: 20px;
}

#button-search{
    color:rgb(255, 89, 117);
    border: solid pink 1px;
}

.navigation-size {
  font-size: 17px;
}

.col-4.start-in-line img {
  display: block;
  margin: 0 auto;
}

.padding-top {
  padding-top: 30px;
}

.searchBar {
  height: 30px;
}

.start-in-line {
  padding-inline-start:0px !important;
}

.end-in-line {
  text-align: end !important;
}

.text-font {
  font-family: 'Roboto', sans-serif;
}

.address-position-topreview {
  padding-inline-start:10px !important;
}

.text-color {
  color: #47a3da;
}


.text-color-active {
    color: rgb(223, 35, 97);
}

.text-bold {
  font-weight: bold;
}

.text-shadow {
  text-shadow: 2px 2px #000;
}

.img-pos {
  display: block;
  margin: 0 auto;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}



.fa-heart.checked {
  color: red;
  font-size: 30px;
}

.fa-heart.homepage {
  color:rgb(238, 65, 123);
  font-size: 20px;
}

.title-img {
  padding: 10px 0px 0px 15px; 
  color: white; 
  position:ralative; 
  margin-top: -70px; 
}

.star-color {
  color: orange;
}

.address-img {
  padding-left: 20px;
}

.padding-review-content {
  padding-top:5%;
  padding-left: 1%;
}


.fixed-content-size {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2 /* number of lines to show */ !important;
  -webkit-box-orient: vertical;
}

.fixed-username {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1 /* number of lines to show */ !important;
  -webkit-box-orient: vertical;
}

.address-size {
  font-size: 10px;
}

.carousel-title {
overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 2 /* number of lines to show */ !important;
-webkit-box-orient: vertical;
max-width: 100%; 
font-size: 15px;
}

.blocksize {
      height: 300px;
    width: 150px;
}

.main-image-size {
    padding-top:5px;
    height: 180px;
    width: 250px;
}

/* Login */
.colorgraph {
    height: 10px;
    border-top: 0;
    border-radius: 5px;
    background: rgb(178,225,255); /* Old browsers */
    background: -moz-linear-gradient(left, rgb(178,225,255) 28%, rgb(102,182,252) 63%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgb(178,225,255) 28%,rgb(102,182,252) 63%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgb(178,225,255) 28%,rgb(102,182,252) 63%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b2e1ff', endColorstr='#66b6fc',GradientType=1 ); /* IE6-9 */
}

.col-margin {
  margin: 0 10px 30px 10px;
}

form input {
  width: 300px;
  padding: 5px;
  margin: 5px 0;
  border: 2px solid rebeccapurple;
  border-radius: 12px;
}

hr.new {
  border: 1px solid rgb(197, 191, 193);
}

hr.new2 {
  border: 1px solid rgb(197, 191, 193);
}

.top-number-rv {
  font-size: 30px;
  color: rgb(223, 35, 97);
  font-family: 'Sniglet', cursive;
}

.top-number-user {
  font-size: 30px;
  color: rgb(75, 155, 235);
  font-family: 'Sniglet', cursive;
}
li.dashboard-active {
    background-color: gray;
}

div.container div[class = "col-lg-6 col-md-8 col-sm-12 col-xs-12"] {
  margin: 40px 0px 100px 0px;
  display: block;
}

div[class = "panel-heading"] h3 {
  padding-bottom: 10%;
}

div[class = "panel-body text-center"] form input[class ="btn btn-lg btn-primary btn-block"] {
  margin-top: 5%;
}
 
.nav-pad {
    padding: 10px 5px;
}

.t-info {
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

form label {
    width: 180px;
    padding: 5px 0;
    margin: 5px 0;
    font-weight: bold;
    font-size: large;
}

.form-control {
  padding-left: 10px;
  font-size: 20px;
  width: 70%;
}

 form.adm-chg {
  position: absolute;
  top: 10%;
  right: 30%;
}

form.adm-chg span {
  left: 36%;
  width: 300px;
  padding: 5px;
  margin-top: 2px;
  margin-bottom: 10px;
  color: rgba(255, 0, 0, 0.87);
}

#button-bottom {
    position: absolute;
    right: 4%;
    bottom: 5%;
}

#button-back {
    position: absolute;
    top: 30%;
    right: 5%;
}

button:not(header.container-fluid) {
    background: #253A47;
    width: 80px;
    margin: 5px 10px;
    color: white;
}

.my-card {
    position: absolute;
    left: 40%;
    top: -20px;
    border-radius: 50%;
}

span.time,
label.time {
    font-size: large;
    font-weight: bold;
}

#from,
#to {
    font-size: large;
    border: solid rgb(88, 42, 85) 2px;
    border-radius: 12px;
}

input[type="radio"] {
    margin: 4px 0 0;
    margin-top: 1px;
    line-height: normal;
}

body{
  background: #fff;
}

.box {
  height: 320px;
  width: 100%;
}

a.sp-link {
  text-decoration: none !important;
  color: black;
}

div.row div[class ="col-lg-4 col-md-6 col-sm-6 col-xs-12"] div[class = "box"]:hover {
  box-shadow: 0 0 20px rgba(14, 13, 13, 0.2); 
  height: 320px;
  width: 100%;
} 

div.row div[class ="col-lg-3 col-md-6 col-sm-12 col-xs-12 blocksize"] div[class = "box"]:hover {
  box-shadow: 0 0 20px rgba(14, 13, 13, 0.2); 
  height: 300px;
  width: 105%;
} 

div.col-md-4 ul a:hover {
  color: rgb(223, 35, 97);
  font-weight: bold;
}

div.row div[class = "col-lg-12 col-md-12 col-sm-12 col-xs-12 col-margin"] div.row:hover {
  background: rgb(241, 241, 241);
  color: rgb(75, 155, 235);
}

.showinfo-box {
  background-color:white ;
  margin: 40px;
  height: 520px;
}

div[class = "col-lg-6 col-md-6 col-sm-6 col-xs-12"] {
  padding-left:10%;
  padding-top: 5%;
}



/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  .userinfo-box {
    background-color: rgb(240, 240, 240); 
    height: 600px; 
  }

  div[class = "col-lg-6 col-md-6 col-sm-6 col-xs-12"] div[class = "form-group"] input {
    width: 75%;
  }
  .p-user-info-button {
    padding-left: 80%;
  }
  .main-data-info {
    padding-right: 5%;
    padding-left: 5%;
  }
  .title-1-line {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1 /* number of lines to show */ !important;
    -webkit-box-orient: vertical;
    max-width: 90%;
  }
  
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  .userinfo-box {
    background-color: rgb(240, 240, 240); 
    height: 600px;
  }
    
  div[class = "col-lg-6 col-md-6 col-sm-6 col-xs-12"] input {
    width: 75%;
  }
  .p-user-info-button {
    padding-left: 80%;
  }

  .title-1-line {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1 /* number of lines to show */ !important;
    -webkit-box-orient: vertical;
    max-width: 90%;
  }
  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  .userinfo-box {
    background-color: rgb(240, 240, 240); 
    height: 600px;
  }
  
  div[class = "col-lg-6 col-md-6 col-sm-6 col-xs-12"] input {
    width: 75%;
  }
  .p-user-info-button {
    padding-left: 80%;
  }

  .title-1-line {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1 /* number of lines to show */ !important;
    -webkit-box-orient: vertical;
    max-width: 90%;
  }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  .userinfo-box {
    background-color: rgb(240, 240, 240); 
    height: 600px;
  }
  
  div[class = "col-lg-6 col-md-6 col-sm-6 col-xs-12"] input {
    width: 75%;
  }
  .p-user-info-button {
    padding-left: 70%;
  }

  .title-1-line {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1 /* number of lines to show */ !important;
    -webkit-box-orient: vertical;
    max-width: 70%;
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  .userinfo-box {
    background-color: rgb(240, 240, 240); 
    height: 1400px;
  }
  div[class = "col-lg-6 col-md-6 col-sm-6 col-xs-12"] input {
    width: 75%;
  }
  
  .showinfo-box {
    background-color:white ;
    margin: 40px;
    height:  850px;
  }
  .p-user-info-button {
    padding-left: 30%;
  }

  .title-1-line {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1 /* number of lines to show */ !important;
    -webkit-box-orient: vertical;
    max-width: 70%;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  .userinfo-box {
    background-color: rgb(240, 240, 240); 
    height: 1400px;
  }
  div[class = "col-lg-6 col-md-6 col-sm-6 col-xs-12"] input {
    width: 75%;
  }

  .showinfo-box {
    background-color:white ;
    margin: 40px;
    height:  850px;
  }

  .p-user-info-button {
    padding-left: 30%;
  }

  .title-1-line {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1 /* number of lines to show */ !important;
    -webkit-box-orient: vertical;
    max-width: 70%;
  }

  div.row img.w3-rounded {
    width: 90%;
  }
}

